/* Fonts */
@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 500, 800;
    font-style: normal;
}

 /* Colors */
:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

body {
    background-color: var(--yellow);
    color: var(--gray-950);
    font-family: 'Figtree', sans-serif;
}

.para-middle {
    color: var(--gray-500);
    font-weight: 500;
}

.para-upper {
    background-color: var(--yellow);
    border-radius: 4px;
    font-weight: 800;
    width: fit-content;
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hero-img {
    height: 230px;
    object-fit: cover;
    border-radius: 0.75rem;
}

.card {
    background-color: var(--white);
    border: 1px solid var(--gray-950);
    box-shadow: 8px 8px 0 black;
    border-radius: 1.25rem;
    width: 23rem;
}

.middle,
.upper {
    margin-bottom: 0.75rem;
}

.h3 {
    margin-bottom: 0.75rem;
    font-weight: 800;
    font-size: 1.3rem;
}

.h3:hover {
    color: var(--yellow);
    cursor: pointer;
}

.para-upper {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}

.author {
    position: relative;
    top: 1rem;
    margin-bottom: 0.75rem;
}

.author-name {
    position: absolute;
    left: 3.5rem;
    top: 0.55rem;
    font-weight: 800;
}

.avatar-icon {
    width: 2.50rem;
    height: 2.50rem;
}

.content {
     padding: 1.6rem 1.6rem;
}

.attribution {
    font-size: 1rem;
    text-align: center;
  }
  
  .attribution a {
    color: var(--gray-950);
  }

@media only screen and (min-width: 992px) {
        .card {
            width: 25rem;
        }
    }

